$purple: #36316c;
$yellow: #ffaa19;
$transPurple: rgba(77, 65, 132, 0.8);
$transBlack: rgba(55, 55, 55, 0.8);

$breakpoint-large: 991px;
$breakpoint-medium: 767px;
$breakpoint-small: 600px;

body {
    background: #fff;
    font-family: "Merriweather", serif;
    margin: 0;
}

p {
    font-family: "open sans", sans-serif;
    font-size: 20px;
    margin-top: 0px;

    @media (max-width: $breakpoint-medium) {
        font-size: 16px;
        line-height: 24px;
    }

    @media (max-width: $breakpoint-small) {
        font-size: 14px;
        line-height: 22px;
    }
}

h1 {
    color: $purple;
    font-size: 2.5rem;

    @media (max-width: $breakpoint-medium) {
        font-size: 1.8rem;
    }
}

.container {
    max-width: 1100px;
    margin: auto;
    position: relative;
    padding: 0 20px;
}

.quiz-content {
    @media (max-width: $breakpoint-small) {
        margin: 0 -10px;
    }
}

.header {
    position: relative;
    overflow: hidden;
    height: 288px;
    background-color: $purple;
    margin-bottom: -50px;

    @media (max-width: $breakpoint-small) {
        height: 200px;
    }

    .quiz-content {
        @media (max-width: $breakpoint-small) {
            height: 210px;
        }
    }
}

.header-container {
    position: absolute;
    left: 0%;
    top: 11%;
    right: 0%;
    bottom: auto;
    z-index: 1000;
    margin-top: 40px;
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;

    img {
        position: relative;
        width: 180px;

        @media (max-width: $breakpoint-small) {
            width: 140px;
        }
    }
}

.header-image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    height: 306px;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/curry-header.jpg");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/curry-header-3.jpg");
    background-position: 0px 0px, 50% 34%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;

    @media (max-width: $breakpoint-small) {
        height: 150px;
    }
}

.diagonal {
    position: absolute;
    left: -44px;
    width: 130%;
    height: 200px;
    margin-top: 211px;
    border-top: 15px solid $yellow;
    background-color: #fff;
    -webkit-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    transform: rotate(6deg);

    @media (max-width: $breakpoint-small) {
        margin-top: 126px;
    }
}

/* Navigation Buttons */
.nav-wrapper button.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.nav-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* .startTest,
.nav-wrapper button,
.nav-wrapper .submit-form,
.hideAlertBtn {
    border: none;
    color: $purple;
    background-color: $yellow;
    width: 200px;
    height: 50px;
    font-size: 22px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
} */

.startTest {
    margin-left: 0px;
}

button, #submit-btn, .form a.download {
    outline: 0;
    border: none;
    background: $yellow;
    text-decoration: none;
    transition: 250ms ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    text-align: center;
    color: $purple;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    display: block;
    width: 200px;
    padding: 1rem 2rem;
    margin: 10px;
    border-radius: 0px;
}

button:hover,
button:focus,
#submit-btn:hover,
#submit-btn:focus {
    text-decoration: none;
    color: #fff;
    background: $purple;
    outline: 1px solid #fff;
    outline-offset: 0px;
}

button:active,
#submit-btn:active {
    background: $yellow;
    text-decoration: none;
    color: $purple;
}

.button-section {
    margin-top: 25px;
}

.button-link {
    font-family: 'Open Sans', sans-serif;
    outline: 0;
    border: none;
    background: $yellow;
    text-decoration: none;
    transition: 250ms ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    text-align: center;
    color: $purple;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    display: inline-block;
    width: 200px;
    padding: 1rem 2rem;
}

.desktop {
    @media (max-width: $breakpoint-medium) {
        display: none;
    }
}

.mobile {
    @media (min-width: $breakpoint-medium) {
        display: none;
    }
}

.button-link:hover,
.button-link:focus {
    text-decoration: none;
    color: #fff;
    background: $purple;
    outline: 1px solid #fff;
    outline-offset: 0px;
}

.button-link:active {
    background: $yellow;
    text-decoration: none;
    color: $purple;
}

#startBoard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .nav-wrapper .next,
.nav-wrapper .submit-form {
    float: right;
} */

/* .nav-wrapper .prev {
    float: left;
} */

/* Quiz Panes */

.quiz-pane {
    display: none;
}

.quiz-pane.active {
    display: block;
}

.question-pane {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;

    &.question-count-2 {
        label {
            width: 40%;
        }
    }

    &.question-count-4 {
        label {
            width: 40%;
        }
    }

    &.question-count-6 {
        label {
            width: 30%;

            @media (max-width: $breakpoint-medium) {
                width: 40%;
            }
        }
    }
}

.question-pane label {
    color: #efefef;
    border: 5px solid #7370a3;
    background: #7370a3;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% 70%;
    margin: 5px;
    font-size: 24px;
    height: 250px;
    line-height: 29px;
    text-align: center;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    cursor: pointer;
    transition: .6s all;

    @media (max-width: $breakpoint-medium) {
        font-size: 15px;
        line-height: 20px;
        height: 130px;
    }

    @media (max-width: $breakpoint-medium) {
        margin: 3px;
        border: 3px solid #7370a3;
    }

    &:hover {
        background-size: 70% 80%;
        transition: .6s all;
    }

    /* Label Icons */

    &[for=great-weekend-0] {
        background-image: url("../svg/outdoors.svg");
    }

    &[for=great-weekend-1] {
        background-image: url("../svg/studying.svg");
    }

    &[for=great-weekend-2] {
        background-image: url("../svg/chilling.svg");
    }

    &[for=great-weekend-3] {
        background-image: url("../svg/big-game.svg");
    }

    &[for=great-weekend-4] {
        background-image: url("../svg/interning.svg");
    }

    &[for=great-weekend-5] {
        background-image: url("../svg/gaming.svg");
    }

    &[for=make-a-difference-0] {
        background-image: url("../svg/rally.svg");
    }

    &[for=make-a-difference-1] {
        background-image: url("../svg/animal-shelter.svg");
    }

    &[for=make-a-difference-2] {
        background-image: url("../svg/cleaning-park.svg");
    }

    &[for=make-a-difference-3] {
        background-image: url("../svg/recycling.svg");
    }

    &[for=make-a-difference-4] {
        background-image: url("../svg/raising-money.svg");
    }

    &[for=make-a-difference-5] {
        background-image: url("../svg/tweeting.svg");
    }

    &[for=dream-career-0] {
        background-image: url("../svg/entertainment.svg");
    }

    &[for=dream-career-1] {
        background-image: url("../svg/healthcare.svg");
    }

    &[for=dream-career-2] {
        background-image: url("../svg/business.svg");
    }

    &[for=dream-career-3] {
        background-image: url("../svg/education.svg");
    }

    &[for=dream-career-4] {
        background-image: url("../svg/criminal-justice.svg");
    }

    &[for=dream-career-5] {
        background-image: url("../svg/not-sure.svg");
    }

    &[for=future-job-0] {
        background-image: url("../svg/fast-track.svg");
    }

    &[for=future-job-1] {
        background-image: url("../svg/flexible.svg");
    }

    &[for=future-job-2] {
        background-image: url("../svg/team-oriented.svg");
    }

    &[for=future-job-3] {
        background-image: url("../svg/environmental.svg");
    }

    &[for=study-break-0] {
        background-image: url("../svg/pizza.svg");
    }

    &[for=study-break-1] {
        background-image: url("../svg/ice-cream.svg");
    }

    &[for=study-break-2] {
        background-image: url("../svg/nachos.svg");
    }

    &[for=study-break-3] {
        background-image: url("../svg/popcorn.svg");
    }

    &[for=social-app-0] {
        background-image: url("../svg/tiktok.svg");
    }

    &[for=social-app-1] {
        background-image: url("../svg/instagram.svg");
    }

    &[for=social-app-2] {
        background-image: url("../svg/facebook.svg");
    }

    &[for=social-app-3] {
        background-image: url("../svg/twitter.svg");
    }

    &[for=social-app-4] {
        background-image: url("../svg/snapchat.svg");
    }

    &[for=social-app-5] {
        background-image: url("../svg/face-to-face.svg");
    }

    &[for=college-packing-0] {
        background-image: url("../svg/gaming.svg");
    }

    &[for=college-packing-1] {
        background-image: url("../svg/interning.svg");
    }

    &[for=college-packing-2] {
        background-image: url("../svg/chilling.svg");
    }

    &[for=college-packing-3] {
        background-image: url("../svg/big-game.svg");
    }

    &[for=college-packing-4] {
        background-image: url("../svg/studying.svg");
    }

    &[for=college-packing-5] {
        background-image: url("../svg/environmental.svg");
    }
}

.question-pane label.checked {
    border: 5px solid #7370a3;
    background-color: $purple;
}

input.answer {
    display: none;
}

.field-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;

    @media (max-width: $breakpoint-medium) {
        width: 100%;
    }

    &.persona {
        display: none;
    }
}

.field-wrapper label {
    min-width: 115px;
    float: left;
    font-size: 18px;
    padding-top: 4px;
    color: #fff;
    margin-left: 10px;
}

.field-wrapper input, .field-wrapper select {
    font-size: 16px;
    width: auto;
    background-color: #7370a3;
    border: 1px solid #fff;
    border-radius: 0px;
    color: #fff;
    margin: 10px;
    padding: 0 15px;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    -webkit-appearance: none;
    border-radius: 0px;
}

#pane-7 {
    &.active {
        background: $purple;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;

        @media (max-width: $breakpoint-small) {
            margin: 0px -20px;
        }
    }

    .nav-wrapper {
        margin-top: 20px;
    }
}

/* Results Styles */
.results {
    margin-top: 5px;
    padding-top: 25px;
    border-top: 2px solid $yellow;

    p {
        font-size: 15px;
        line-height: 22px;
    }

    h1 {
        @media (max-width: $breakpoint-medium) {
            font-size: 2.3rem;
        }
    }
}

.row {
    display: flex;

    @media (max-width: $breakpoint-medium) {
        display: block;
    }

    .column {
        width: 50%;

        @media (max-width: $breakpoint-medium) {
            width: 100%;
        }

        &.right {
            padding-left: 80px;

            @media (max-width: $breakpoint-medium) {
                padding-left: 0;
            }
        }
    }
}

.gif {
    margin-top: 25px;
}

.share-buttons {
    display: flex;
    margin-bottom: 25px;
}

.fb-share-button {
    margin-right: 10px;
}

.twitter-button {
    display: inline-block;
}

/* Boilerplate */

.boilerplate {
    margin-top: 100px;
    margin-bottom: -50px;

    .large-image {
        background-color: transparent;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/curry-building-tall.jpg");
        background-size: cover;
        background-position: bottom;
    }
}

.icon-section {
    background: $transPurple;
    color: #fff;
    padding: 30px 0;

    h3 {
        margin-bottom: 5px;
        margin-top: 0px;

        @media (max-width: $breakpoint-small) {
            font-size: 1rem;
        }
    }

    p {
        font-size: .9rem;
        line-height: 1.5rem;
        margin-bottom: 0;
    }
}

.icon-wrapper {
    display: flex;
    align-items: center;
    height: 170px;

    @media (max-width: $breakpoint-medium) {
        height: 150px;
    }

    @media (max-width: $breakpoint-medium) {
        height: auto;
        margin-bottom: 20px;
    }

    &.right {
        padding-left: 40px;

        @media (max-width: $breakpoint-medium) {
            padding-left: 0;
        }
    }
}

.icon {
    width: 140px;
    height: 140px;
    display: inline-block;
    margin-right: 20px;

    @media (max-width: $breakpoint-small) {
        width: 100px;
        height: 100px;
    }
}

.icon-text {
    display: inline-block;
    flex-shrink: 2;
    width: 100%;
}

.visit-section {
    width: 100%;
    height: 400px;
    text-align: center;

    @media (max-width: $breakpoint-small) {
        height: 300px;
    }

    p {
        color: #fff;
        font-size: 26px;
        margin-bottom: 10px;

        @media (max-width: $breakpoint-medium) {
            font-size: 20px;
            margin-bottom: 8px;
        }

        @media (max-width: $breakpoint-small) {
            font-size: 18px;
            margin-bottom: 8px;
        }
    }

    h1 {
        color: $yellow;
        font-size: 3rem;
        margin-top: 0;
        margin-bottom: 20px;

        @media (max-width: $breakpoint-medium) {
            font-size: 2.5rem;
        }

        @media (max-width: $breakpoint-small) {
            font-size: 2rem;
        }
    }
}

.visit-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

/* Footer Styles */

footer {
    padding: 30px 0;
    border-top: 10px solid $yellow;
    margin-top: 50px;
    background: $purple;
    color: #fff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;

    @media (max-width: $breakpoint-medium) {
        display: block;
        text-align: center;
    }

    .column {
        width: 50%;

        @media (max-width: $breakpoint-medium) {
            width: 100%;
        }
    }

    .curry-footer-links {
        display: flex;
        justify-content: flex-end;

        @media (max-width: $breakpoint-medium) {
            justify-content: center;
        }

        a {
            margin-right: 25px;

            @media (max-width: $breakpoint-medium) {
                margin-right: 0px;
                padding: 20px;
            }
        }
    }

    a {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }

    .curry-phone {
        margin-top: 8px;
        display: block;
    }
}

.form {
    width: 100%;
    max-width: 495px;
    min-height: 275px;
    background: $purple;
    padding: 0 5px;
}
.form h2 {
  color: #fff;
  padding: 25px 0 10px 0;
  text-align: center;
  font-size: 28px;
  margin: 0;
}
.form p {
    color: #fff;
    padding: 15px;
}
.form p a {
    color: #fff;
}
.form a.download {
  padding: 15px;
  margin: 0 auto;
}
@media (min-width:500px){
  .form {
      margin: 0 auto;
  }
}
