body {
  background: #fff;
  font-family: "Merriweather", serif;
  margin: 0;
}

p {
  font-family: "open sans", sans-serif;
  font-size: 20px;
  margin-top: 0px;
}

@media (max-width: 767px) {
  p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 600px) {
  p {
    font-size: 14px;
    line-height: 22px;
  }
}

h1 {
  color: #36316c;
  font-size: 2.5rem;
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.8rem;
  }
}

.container {
  max-width: 1100px;
  margin: auto;
  position: relative;
  padding: 0 20px;
}

@media (max-width: 600px) {
  .quiz-content {
    margin: 0 -10px;
  }
}

.header {
  position: relative;
  overflow: hidden;
  height: 288px;
  background-color: #36316c;
  margin-bottom: -50px;
}

@media (max-width: 600px) {
  .header {
    height: 200px;
  }
}

@media (max-width: 600px) {
  .header .quiz-content {
    height: 210px;
  }
}

.header-container {
  position: absolute;
  left: 0%;
  top: 11%;
  right: 0%;
  bottom: auto;
  z-index: 1000;
  margin-top: 40px;
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.header-container img {
  position: relative;
  width: 180px;
}

@media (max-width: 600px) {
  .header-container img {
    width: 140px;
  }
}

.header-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  height: 306px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/curry-header.jpg");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/curry-header-3.jpg");
  background-position: 0px 0px, 50% 34%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

@media (max-width: 600px) {
  .header-image {
    height: 150px;
  }
}

.diagonal {
  position: absolute;
  left: -44px;
  width: 130%;
  height: 200px;
  margin-top: 211px;
  border-top: 15px solid #ffaa19;
  background-color: #fff;
  -webkit-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg);
}

@media (max-width: 600px) {
  .diagonal {
    margin-top: 126px;
  }
}

/* Navigation Buttons */
.nav-wrapper button.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* .startTest,
.nav-wrapper button,
.nav-wrapper .submit-form,
.hideAlertBtn {
    border: none;
    color: $purple;
    background-color: $yellow;
    width: 200px;
    height: 50px;
    font-size: 22px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
} */
.startTest {
  margin-left: 0px;
}

button, #submit-btn, .form a.download {
  outline: 0;
  border: none;
  background: #ffaa19;
  text-decoration: none;
  transition: 250ms ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  text-align: center;
  color: #36316c;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  display: block;
  width: 200px;
  padding: 1rem 2rem;
  margin: 10px;
  border-radius: 0px;
}

button:hover,
button:focus,
#submit-btn:hover,
#submit-btn:focus {
  text-decoration: none;
  color: #fff;
  background: #36316c;
  outline: 1px solid #fff;
  outline-offset: 0px;
}

button:active,
#submit-btn:active {
  background: #ffaa19;
  text-decoration: none;
  color: #36316c;
}

.button-section {
  margin-top: 25px;
}

.button-link {
  font-family: 'Open Sans', sans-serif;
  outline: 0;
  border: none;
  background: #ffaa19;
  text-decoration: none;
  transition: 250ms ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  text-align: center;
  color: #36316c;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  display: inline-block;
  width: 200px;
  padding: 1rem 2rem;
}

@media (max-width: 767px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 767px) {
  .mobile {
    display: none;
  }
}

.button-link:hover,
.button-link:focus {
  text-decoration: none;
  color: #fff;
  background: #36316c;
  outline: 1px solid #fff;
  outline-offset: 0px;
}

.button-link:active {
  background: #ffaa19;
  text-decoration: none;
  color: #36316c;
}

#startBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .nav-wrapper .next,
.nav-wrapper .submit-form {
    float: right;
} */
/* .nav-wrapper .prev {
    float: left;
} */
/* Quiz Panes */
.quiz-pane {
  display: none;
}

.quiz-pane.active {
  display: block;
}

.question-pane {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.question-pane.question-count-2 label {
  width: 40%;
}

.question-pane.question-count-4 label {
  width: 40%;
}

.question-pane.question-count-6 label {
  width: 30%;
}

@media (max-width: 767px) {
  .question-pane.question-count-6 label {
    width: 40%;
  }
}

.question-pane label {
  color: #efefef;
  border: 5px solid #7370a3;
  background: #7370a3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% 70%;
  margin: 5px;
  font-size: 24px;
  height: 250px;
  line-height: 29px;
  text-align: center;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  cursor: pointer;
  transition: .6s all;
  /* Label Icons */
}

@media (max-width: 767px) {
  .question-pane label {
    font-size: 15px;
    line-height: 20px;
    height: 130px;
  }
}

@media (max-width: 767px) {
  .question-pane label {
    margin: 3px;
    border: 3px solid #7370a3;
  }
}

.question-pane label:hover {
  background-size: 70% 80%;
  transition: .6s all;
}

.question-pane label[for=great-weekend-0] {
  background-image: url("../svg/outdoors.svg");
}

.question-pane label[for=great-weekend-1] {
  background-image: url("../svg/studying.svg");
}

.question-pane label[for=great-weekend-2] {
  background-image: url("../svg/chilling.svg");
}

.question-pane label[for=great-weekend-3] {
  background-image: url("../svg/big-game.svg");
}

.question-pane label[for=great-weekend-4] {
  background-image: url("../svg/interning.svg");
}

.question-pane label[for=great-weekend-5] {
  background-image: url("../svg/gaming.svg");
}

.question-pane label[for=make-a-difference-0] {
  background-image: url("../svg/rally.svg");
}

.question-pane label[for=make-a-difference-1] {
  background-image: url("../svg/animal-shelter.svg");
}

.question-pane label[for=make-a-difference-2] {
  background-image: url("../svg/cleaning-park.svg");
}

.question-pane label[for=make-a-difference-3] {
  background-image: url("../svg/recycling.svg");
}

.question-pane label[for=make-a-difference-4] {
  background-image: url("../svg/raising-money.svg");
}

.question-pane label[for=make-a-difference-5] {
  background-image: url("../svg/tweeting.svg");
}

.question-pane label[for=dream-career-0] {
  background-image: url("../svg/entertainment.svg");
}

.question-pane label[for=dream-career-1] {
  background-image: url("../svg/healthcare.svg");
}

.question-pane label[for=dream-career-2] {
  background-image: url("../svg/business.svg");
}

.question-pane label[for=dream-career-3] {
  background-image: url("../svg/education.svg");
}

.question-pane label[for=dream-career-4] {
  background-image: url("../svg/criminal-justice.svg");
}

.question-pane label[for=dream-career-5] {
  background-image: url("../svg/not-sure.svg");
}

.question-pane label[for=future-job-0] {
  background-image: url("../svg/fast-track.svg");
}

.question-pane label[for=future-job-1] {
  background-image: url("../svg/flexible.svg");
}

.question-pane label[for=future-job-2] {
  background-image: url("../svg/team-oriented.svg");
}

.question-pane label[for=future-job-3] {
  background-image: url("../svg/environmental.svg");
}

.question-pane label[for=study-break-0] {
  background-image: url("../svg/pizza.svg");
}

.question-pane label[for=study-break-1] {
  background-image: url("../svg/ice-cream.svg");
}

.question-pane label[for=study-break-2] {
  background-image: url("../svg/nachos.svg");
}

.question-pane label[for=study-break-3] {
  background-image: url("../svg/popcorn.svg");
}

.question-pane label[for=social-app-0] {
  background-image: url("../svg/tiktok.svg");
}

.question-pane label[for=social-app-1] {
  background-image: url("../svg/instagram.svg");
}

.question-pane label[for=social-app-2] {
  background-image: url("../svg/facebook.svg");
}

.question-pane label[for=social-app-3] {
  background-image: url("../svg/twitter.svg");
}

.question-pane label[for=social-app-4] {
  background-image: url("../svg/snapchat.svg");
}

.question-pane label[for=social-app-5] {
  background-image: url("../svg/face-to-face.svg");
}

.question-pane label[for=college-packing-0] {
  background-image: url("../svg/gaming.svg");
}

.question-pane label[for=college-packing-1] {
  background-image: url("../svg/interning.svg");
}

.question-pane label[for=college-packing-2] {
  background-image: url("../svg/chilling.svg");
}

.question-pane label[for=college-packing-3] {
  background-image: url("../svg/big-game.svg");
}

.question-pane label[for=college-packing-4] {
  background-image: url("../svg/studying.svg");
}

.question-pane label[for=college-packing-5] {
  background-image: url("../svg/environmental.svg");
}

.question-pane label.checked {
  border: 5px solid #7370a3;
  background-color: #36316c;
}

input.answer {
  display: none;
}

.field-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .field-wrapper {
    width: 100%;
  }
}

.field-wrapper.persona {
  display: none;
}

.field-wrapper label {
  min-width: 115px;
  float: left;
  font-size: 18px;
  padding-top: 4px;
  color: #fff;
  margin-left: 10px;
}

.field-wrapper input, .field-wrapper select {
  font-size: 16px;
  width: auto;
  background-color: #7370a3;
  border: 1px solid #fff;
  border-radius: 0px;
  color: #fff;
  margin: 10px;
  padding: 0 15px;
  height: 60px;
  font-family: 'Open Sans', sans-serif;
  -webkit-appearance: none;
  border-radius: 0px;
}

#pane-7.active {
  background: #36316c;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  #pane-7.active {
    margin: 0px -20px;
  }
}

#pane-7 .nav-wrapper {
  margin-top: 20px;
}

/* Results Styles */
.results {
  margin-top: 5px;
  padding-top: 25px;
  border-top: 2px solid #ffaa19;
}

.results p {
  font-size: 15px;
  line-height: 22px;
}

@media (max-width: 767px) {
  .results h1 {
    font-size: 2.3rem;
  }
}

.row {
  display: flex;
}

@media (max-width: 767px) {
  .row {
    display: block;
  }
}

.row .column {
  width: 50%;
}

@media (max-width: 767px) {
  .row .column {
    width: 100%;
  }
}

.row .column.right {
  padding-left: 80px;
}

@media (max-width: 767px) {
  .row .column.right {
    padding-left: 0;
  }
}

.gif {
  margin-top: 25px;
}

.share-buttons {
  display: flex;
  margin-bottom: 25px;
}

.fb-share-button {
  margin-right: 10px;
}

.twitter-button {
  display: inline-block;
}

/* Boilerplate */
.boilerplate {
  margin-top: 100px;
  margin-bottom: -50px;
}

.boilerplate .large-image {
  background-color: transparent;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/curry-building-tall.jpg");
  background-size: cover;
  background-position: bottom;
}

.icon-section {
  background: rgba(77, 65, 132, 0.8);
  color: #fff;
  padding: 30px 0;
}

.icon-section h3 {
  margin-bottom: 5px;
  margin-top: 0px;
}

@media (max-width: 600px) {
  .icon-section h3 {
    font-size: 1rem;
  }
}

.icon-section p {
  font-size: .9rem;
  line-height: 1.5rem;
  margin-bottom: 0;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  height: 170px;
}

@media (max-width: 767px) {
  .icon-wrapper {
    height: 150px;
  }
}

@media (max-width: 767px) {
  .icon-wrapper {
    height: auto;
    margin-bottom: 20px;
  }
}

.icon-wrapper.right {
  padding-left: 40px;
}

@media (max-width: 767px) {
  .icon-wrapper.right {
    padding-left: 0;
  }
}

.icon {
  width: 140px;
  height: 140px;
  display: inline-block;
  margin-right: 20px;
}

@media (max-width: 600px) {
  .icon {
    width: 100px;
    height: 100px;
  }
}

.icon-text {
  display: inline-block;
  flex-shrink: 2;
  width: 100%;
}

.visit-section {
  width: 100%;
  height: 400px;
  text-align: center;
}

@media (max-width: 600px) {
  .visit-section {
    height: 300px;
  }
}

.visit-section p {
  color: #fff;
  font-size: 26px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .visit-section p {
    font-size: 20px;
    margin-bottom: 8px;
  }
}

@media (max-width: 600px) {
  .visit-section p {
    font-size: 18px;
    margin-bottom: 8px;
  }
}

.visit-section h1 {
  color: #ffaa19;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .visit-section h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  .visit-section h1 {
    font-size: 2rem;
  }
}

.visit-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

/* Footer Styles */
footer {
  padding: 30px 0;
  border-top: 10px solid #ffaa19;
  margin-top: 50px;
  background: #36316c;
  color: #fff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 767px) {
  .footer-content {
    display: block;
    text-align: center;
  }
}

.footer-content .column {
  width: 50%;
}

@media (max-width: 767px) {
  .footer-content .column {
    width: 100%;
  }
}

.footer-content .curry-footer-links {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .footer-content .curry-footer-links {
    justify-content: center;
  }
}

.footer-content .curry-footer-links a {
  margin-right: 25px;
}

@media (max-width: 767px) {
  .footer-content .curry-footer-links a {
    margin-right: 0px;
    padding: 20px;
  }
}

.footer-content a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.footer-content .curry-phone {
  margin-top: 8px;
  display: block;
}

.form {
  width: 100%;
  max-width: 495px;
  min-height: 275px;
  background: #36316c;
  padding: 0 5px;
}

.form h2 {
  color: #fff;
  padding: 25px 0 10px 0;
  text-align: center;
  font-size: 28px;
  margin: 0;
}

.form p {
  color: #fff;
  padding: 15px;
}

.form p a {
  color: #fff;
}

.form a.download {
  padding: 15px;
  margin: 0 auto;
}

@media (min-width: 500px) {
  .form {
    margin: 0 auto;
  }
}
